<h1><%= @task.title %></h1>
<p><%= @task.details %></p>
<li><%= "This task is completed" %></li>
<%= link_to "Back to list", tasks_path %>
<button><%= link_to "Edit this task!", edit_task_path %></button>
